---
layout: page
title: Prețuri
permalink: /preturi
---

<div class="container">
  <h1 class="visually-hidden">Preturi</h1>
  <section>
    <h3 class="prices-heading">Tratamente</h3>
    <ul class="prices-list">
      {% for price in site.data.prices-treatment %}
        <li class="prices-item">
          <span class="prices-name">{{ price.name }}</span>
          <span class="prices-value">{{ price.value }}</span>
        </li>
      {% endfor %}
    </ul>
  </section>
  <hr>
  <section>
    <h3 class="prices-heading">Epilare definitiva</h3>
    <ul class="prices-list">
      {% for price in site.data.prices-waxing %}
        <li class="prices-item">
          <span class="prices-name">{{ price.name }}</span>
          <span class="prices-value">{{ price.value }}</span>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>
