<div class="container">
  <header class="masthead">
    <h2 class="masthead-title">
      <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    </h2>

    <ul class="masthead-nav">
      {% assign pages_list = site.pages | sort:"url" | reverse %}
      {% for node in pages_list %}
        {% if node.title and node.layout == "page" %}
          <li class="{% if page.url == node.url %}active{% endif %}"><a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </header>
</div>
