// Base

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family;
  font-size: 100%;
  line-height: 1.5;

  @include mq($from: tablet) {
    font-size: 125%;
  }
}

body {
  color: $dark-gray;
  background-color: #fff;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
}
