.services-list {
  padding: 0;
}

.services-list-item {
  margin-bottom: 2rem;
}

.services-inside-list {
  padding-left: 1.1rem;
  margin-bottom: 0;
}

.services-inside-list-item {
  margin-bottom: 1rem;
}
