.text-center { text-align: center; }

.m-t-0 { margin-top: 0 !important; }
.m-b-0 { margin-bottom: 0 !important; }

.m-t { margin-top: 1rem !important; }
.m-b { margin-bottom: 1rem !important; }

.m-t-md { margin-top: 1.5rem !important; }
.m-b-md { margin-bottom: 1.5rem !important; }

.m-t-lg { margin-top: 2rem !important; }
.m-b-lg { margin-bottom: 2rem !important; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
